.pf-container {
  margin-top: 10px;
  width: 90%;
  margin-left: 5%;
  position: relative;
  padding-left: 3% !important;
  padding-right: 3% !important;
  .pf-title {
  }
  .pf-header {
    text-align: center;
    .pf-file-controller {
      .pf-choice-select {
        button {
          width: 100%;
          font-family: RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
          font-weight: 300;
          font-size: 30px;
          text-transform: none;
          margin-top: 0px;
          padding: 0.2em 1em;
        }
        .btn-group {
          margin-top: 0px;
          width: 70%;
          box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .05), 0 1px 20px 0 rgba(0, 0, 0, .05) !important;
        }
      }
      .pf-choices-list {
        width: 100%;
        text-align: center;
        min-width: initial;
      }
    }
  }
  .pf-choice-select {
    button {
      span.caret {
        margin-left: 0.5em !important;
      }
    }
  }
  .pf-content-wrapper {
    pre {
      border-radius: 1px;
      padding: 2px 2px 2px 2px;
    }
  }
  .pf-controllers {
    width: 100%;
    height: 3.5em;
    max-height: 60px;
    min-height: 40px;
    .pf-theme-controller {
      .pf-choice-select {
        float: right;
      }
      .pf-choice-option {
        text-align: right;
      }
      .pf-choice-list {
        width: 100%;
      }
      button {
        padding-right: 1em;
        padding-left: 2px;
      }
      label {
        pointer: cursor;
        float: left;
        padding-right: 5px;
        padding-left: 1em;
      }
    }
  }
  .pf-error {
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 50%;
    min-width: 600px;
    overflow-x: auto;
    .panel-body {
      padding-top: 2.5em;
      padding-bottom: 2.5em;
    }
  }
  .pf-spinner {
    width: 5em;
    height: 5em;
    margin: auto;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.pf-wrapper-enter {
  opacity: 0.01;
}

.pf-wrapper-enter.pf-wrapper-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.pf-wrapper-leave {
  opacity: 1;
}

.pf-wrapper-leave.pf-wrapper-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.pf-error-enter {
  opacity: 0.01;
}

.pf-error-enter.pf-error-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.pf-error-leave {
  opacity: 1;
}

/*.pf-error-leave.pf-error-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}*/